build
*.obj
deps
*.pyc

python-environment/
build/*
CMakeFiles
.project
.idea
.cproject
*.orig
*.autosave
CMakeLists.txt.user

mf_fun_cmd_03082020.txt
mf_fun_cmd_03082020.txt
mf_run_cmd.txt
Core/Segmentation/MaskRCNN/numpy
